/* You can add global styles to this file, and also import other style files */
.content{
    text-align: center;
}
.table {
    font-family: sans-serif;
    font-weight: bolder;
}
.table-title{
    font-size: x-large;
    text-decoration: underline;
}
.teacher-label, .course-label, .-student-label{
    text-decoration: underline;
    padding: 5px;
    text-align: center;
}
table{
    text-decoration:none;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}
td, tr, thead {
    text-decoration:none;
    padding: 5px;
    margin:auto;
}
h1{
    font-family: serif;
}
input, button{
    padding: 5px;
    margin: 3px;
}
.header-bar{
    display: flex;
    justify-content: space-between;
}
.welcome-message{
    display: flex; 
    justify-content: left;
    padding: 5px;
}
.login-bars{
    display: flex;
    justify-content:flex-end;
}
.navbar{
    margin-left: 10px;
    margin-right: 10px;
}
.form{
    display: grid;
    grid-area: span;
    grid-template-columns: 1;
    grid-template-rows: 5;
    width: 200px;
}
.form-container{
    display:flex;
    justify-content: center;
}
