/* You can add global styles to this file, and also import other style files */
.content{
    text-align: center;
}
.table {
    font-family: sans-serif;
    font-weight: bolder;
}
.table-title{
    font-size: x-large;
    text-decoration: underline;
}
.teacher-label, .course-label, .-student-label{
    text-decoration: underline;
    padding: 5px;
    text-align: center;
}
table{
    text-decoration:none;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}
td, tr, thead {
    text-decoration:none;
    padding: 5px;
    margin:auto;
}
h1{
    font-family: serif;
}
button{
    padding: 5px;
    margin:auto; 
}